@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #272F36;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.6rem;

  overflow-x: hidden;
  width: 100%;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-items: center;
}

.bg-primary {
  background-color: #272F36;
}

.bg-selected {
  background-color: #272F36;
}
.bg-selected:hover {
  background-color: #1B1B1B;
}

.bg-table_header {
  background-color: #F8F8F8;
}

.bg-secondary {
  background-color: #FAFAFA;
}

.bg-button {
  background-color: transparent;
}
.bg-button:hover {
  background-color: #f9fafb;
}

.border-primary_line {
  border-color: #272F36;
}

.border-secondary_line {
  border-color: #B3B3B3;
}

.border-tertiary_line {
  border-color: #F2F2F2;
}

.text-routes {
  color: #8B8B8B;
}

.text-routes_selected {
  color: #8B8B8B;
}
.text-routes_selected:hover {
  color: #535bf2;
}

.text-primary {
  color: #272F36;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
.text-button{
  color: #272F36;
}